####################################################
# .npmignore Configuration File
####################################################
#
# Version: 1.0.0
# License: CC BY-NC-ND 4.0
#
# Author: Mohammad Montasim -Al- Mamun Shuvo
# Created: 2025-01-28
# Contact Email: montasimmamun@gmail.com
# Contact GitHub: https://github.com/montasim
####################################################
# Purpose:
# The .npmignore file specifies files and directories to exclude
# from the published npm package. This reduces the package size
# by omitting unnecessary files such as raw source code, tests,
# and configuration files that are only needed during development.
# By keeping the package lightweight, it ensures faster downloads
# and efficient dependency management.


####################################################
# SOURCE CODE FILES
####################################################
# Purpose:
# The raw source files (`src/`) are excluded from the published
# package because they are used only during local development.
# The package consumers require only the compiled output.

src/


####################################################
# DEPENDENCIES
####################################################
# Purpose:
# The `node_modules/` directory is excluded because npm resolves
# dependencies for package consumers. Including `node_modules/`
# would unnecessarily bloat the package.

node_modules/


####################################################
# TEST FILES AND CONFIGURATIONS
####################################################
# Purpose:
# Test files and their configurations are excluded from the package
# as they are not necessary for the end users. This helps reduce
# the size of the published package.

# Unit or integration test files
test/

# Jest configuration file for testing
jest.config.ts


####################################################
# TYPESCRIPT CONFIGURATION
####################################################
# Purpose:
# TypeScript configuration files, such as `tsconfig.json`, are excluded
# since they are only required during the development process for compiling
# TypeScript files.

tsconfig.json


####################################################
# MISCELLANEOUS FILES
####################################################
# Purpose:
# Exclude miscellaneous files that are not essential for the npm package,
# such as local or development-specific configuration files.

# NPM configuration file
.npmrc

# Prettier ignore file for formatting
.prettierignore

# Prettier configuration file
.prettierrc

# Yarn cleanup configuration
.yarnclean

# ESLint configuration file
eslint.config.mjs

# Git attributes file
.gitattributes

# Git ignore file
.gitignore

# Editor configuration files
.idea

# Lint-staged configuration file
.lintstagedrc

# Commitlint configuration file
commitlint.config.mjs

# Husky configuration file
.husky

# GitHub Actions workflow files
.github/

# General output folder for build artifacts.
dist/
out/

# General scripts folder for build scripts.
scripts/
